<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>Login</servlet-name>
    <display-name>login</display-name>
    <description>login</description>
    <servlet-class>com.tianle.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSth</servlet-name>
    <display-name>login</display-name>
    <description>login</description>
    <servlet-class>com.tianle.servlet.AddSth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <display-name>login</display-name>
    <description>login</description>
    <servlet-class>com.tianle.servlet.Register</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSth</servlet-name>
    <url-pattern>/AddSth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>

</web-app>